<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SanPhamServlet</servlet-name>
        <servlet-class>Controller.SanPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>Controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadImgServlet</servlet-name>
        <servlet-class>Controller.LoadImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoaiSPServlet</servlet-name>
        <servlet-class>Controller.LoaiSPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhachHangServlet</servlet-name>
        <servlet-class>Controller.KhachHangServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SanPhamServlet</servlet-name>
        <url-pattern>/SanPhamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadImgServlet</servlet-name>
        <url-pattern>/LoadImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoaiSPServlet</servlet-name>
        <url-pattern>/LoaiSPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhachHangServlet</servlet-name>
        <url-pattern>/KhachHangServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
